<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>version build version (test semver) 0.0.13 @23/12/2021 15:16:00</h1>
  <h1>version build version @10/2/2022 21:29:00</h1>
  <h2>host {{ host }}</h2>
  <h2>client ip : {{ source_ip }} xxx</h2>
  <div id="spoiler" style="display:none">
    ****************************
  </div>

</body>

</html>